<!DOCTYPEhtml>
<html>
  <title>Login</title>

  <head>
  </head>
    <body>
      <form method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
      <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <input type="checkbox" onclick="myFunction()">Show Password
      <br>
        <input type="submit" id="submit" value="login">
      </form>
      <mark>
        <% if flash.has?(:login_error) %>
          <%= flash[:login_error]%>
        <% end %>
      </mark>
    </body>
</html>
