<!DOCTYPE html>
<html>
<head>
      <title></title>
<h1> Hello, <%=@user.username%> </h1>
</head>
<body>
<h3>Name: <%=@user.username%> </h3>
<br></br>
<h3></h3>

<p> Most Recent review </p>
<p> List Of Reviews </p>
<a href="/reviews">All your reviews</a>
<br></br>
<p> Create New Review! </p>
</body>
</html>
