<h1> Hello, <%=@user.username%> </h1>

<h3>Name: <%=@user.username%> </h3>
<br></br>
<h3></h3>

<p> Most Recent review </p>
<p> List Of Reviews </p>
<a href="/reviews">All your reviews</a>
<br></br>
<p> Create New Review! </p>
<!DOCTYPE html>
<html>
<head>
      <title></title>
</head>
<body>

</body>
</html>
